<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <h1>
            <%= user ? `Hello, ${user.userName}` : 'Hello Guest' %>
          </h1>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <!-- fix image posting to db and cloudinary and rendering with profile component
          userImageUpload is the new path -->
          <img src="<%= user.userImage ? user.userImage : 'Upload Image' %>">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="userImgUpload" class="form-label">Choose Profile Picture</label>
              <input type="file" class="form-control" id="userImageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>


          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>

        <!-- user streak overview -->
        <!-- 53 width and 7 height -->
        <div id="cal-heatmap"></div>
        <script type="text/javascript">
          var cal = new CalHeatMap();
          cal.init({
            data: "datas.json"
          });
        </script>

        <!-- user default bible section 
        should show bible version and give option to change version onclick (overlay) -->
        <div>
          <div>
            <h3 id="userBibleType">
              New International Version (DEFAULT)
            </h3>
          </div>
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <input type="text" name="search" id="search" placeholder="Search for Bible Version" class="search" />
              <button class="search-btn" type="submit">Submit</button>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Bible Version:</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <optgroup label="English">

                    <option value="685d1470fe4d5c3b-01">American Standard Version (Byzantine Text with Apocrypha)
                    </option>
                    <option value="6bab4d6c61b31b80-01">Brenton English Septuagint (Updated Spelling and Formatting)
                    </option>
                    <option value="65bfdebd704a8324-01">Brenton English translation of the Septuagint</option>
                    <option value="55212e3cf5d04d49-01">Cambridge Paragraph Bible of the KJV</option>
                    <option value="179568874c45066f-01">Douay-Rheims American 1899</option>
                    <option value="55ec700d9e0d77ea-01">English Majority Text Version</option>
                    <option value="65eec8e0b60e656b-01">Free Bible Version</option>
                    <option value="c315fa9f71d4af3a-01">Geneva Bible</option>
                    <option value="bf8f1c7f3f9045a5-01">JPS TaNaKH 1917</option>
                    <option value="de4e12af7f28f599-01">King James (Authorised) Version(1)</option>
                    <option value="de4e12af7f28f599-02">King James (Authorised) Version(2)</option>
                    <option value="01b29f4b342acc35-01">Literal Standard Version</option>
                    <option value="40072c4a5aba4022-01">Revised Version 1885</option>
                    <option value="ec290b5045ff54a5-01">Targum Onkelos Etheridge</option>
                    <option value="2f0fd81d7b85b923-01">The English New Testament According to Family 35</option>
                    <option value="06125adad2d5898a-01">The Holy Bible, American Standard Version</option>
                    <option value="66c22495370cdfc0-01">Translation for Translators</option>
                    <option value="9879dbb7cfe39e4d-01">World English Bible(1)</option>
                    <option value="9879dbb7cfe39e4d-02">World English Bible(2)</option>
                    <option value="9879dbb7cfe39e4d-03">World English Bible(3)</option>
                    <option value="9879dbb7cfe39e4d-04">World English Bible(4)</option>
                    <option value="7142879509583d59-01">World English Bible British Edition(1)</option>
                    <option value="7142879509583d59-02">World English Bible British Edition(2)</option>
                    <option value="7142879509583d59-03">World English Bible British Edition(3)</option>
                    <option value="7142879509583d59-04">World English Bible British Edition(4)</option>
                    <option value="f72b840c855f362c-04">World Messianic Bible</option>
                    <option value="04da588535d2f823-04">World Messianic Bible British Edition</option>

                  <optgroup label="Akukem">
                  <optgroup label="Ancient Greek">
                  <optgroup label="Arabic, Standard">
                  <optgroup label="Arapaho">
                  <optgroup label="Aruamu">
                  <optgroup label="Assamese">
                  <optgroup label="Baga Sitemu">
                  <optgroup label="Belarusan">
                  <optgroup label="Beami">
                  <optgroup label="Belarusian">
                  <optgroup label="Bengali">
                  <optgroup label="Borei">
                  <optgroup label="Carpathian Romani">
                  <optgroup label="Central Kurdish">
                  <optgroup label="Chichewa">
                  <optgroup label="Chilughuru">
                  <optgroup label="Czech">
                  <optgroup label="Dawro">
                  <optgroup label="Dholuo">
                  <optgroup label="Dutch">
                  <optgroup label="Ganda">
                  <optgroup label="German">
                  <optgroup label="German, Standard">
                  <optgroup label="Gikuyu">
                  <optgroup label="Gujarati">
                  <optgroup label="Hausa">
                  <optgroup label="Hindi">
                  <optgroup label="Holiya">
                  <optgroup label="Indonesian">
                  <optgroup label="Italian">
                  <optgroup label="Kapingamarangi">
                  <optgroup label="Kannada">
                  <optgroup label="Kharam Naga">
                  <optgroup label="Kire">
                  <optgroup label="Kutu">
                  <optgroup label="Kwere">
                  <optgroup label="Kyenele">
                  <optgroup label="Maale">
                  <optgroup label="Makhuwa-Meetto">
                  <optgroup label="Makonde">
                  <optgroup label="Malayalam">
                  <optgroup label="Male (Ethiopia)">
                  <optgroup label="Marathi">
                  <optgroup label="Matumbi">
                  <optgroup label="Morokodo">
                  <optgroup label="Mum">
                  <optgroup label="Mwera">
                  <optgroup label="Ndamba">
                  <optgroup label="Nend">
                  <optgroup label="Nguu">
                  <optgroup label="Odia">
                  <optgroup label="Panjabi">
                  <optgroup label="Polish">
                  <optgroup label="Portuguese">
                  <optgroup label="Pular">
                  <optgroup label="Sankaran Maninka">
                  <optgroup label="Sanskrit">
                  <optgroup label="Shatt">
                  <optgroup label="Shipogoro">
                  <optgroup label="Serbian">
                  <optgroup label="Siksika">
                  <optgroup label="Sop">
                  <optgroup label="Susu">
                  <optgroup label="Swedish">
                  <optgroup label="Swahili">
                  <optgroup label="Takuu">
                  <optgroup label="Tamil">
                  <optgroup label="Tay">
                  <optgroup label="Telugu">
                  <optgroup label="Thai">
                  <optgroup label="Toma">
                  <optgroup label="Tonga (Tonga Islands)">
                  <optgroup label="Twi">
                  <optgroup label="Urdu">
                  <optgroup label="Yalunka">
                  <optgroup label="Yapese">
                  <optgroup label="Yoruba">
                  <optgroup label="Vidunda">
                  <optgroup label="Vietnamese">
                  <optgroup label="Zaramo">
                  <optgroup label="Zigua">






                </select>

              </fieldset>
            </div>
          </form>
        </div>

        <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <fieldset>
                <legend>Book</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Book</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Chapter</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Chapter</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Verse</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Verse</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Deck Name</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Tag</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Create Bible Verse Anki Card</button>
          </form>
        </div>
        <!-- <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/card/createCard" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div> -->
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<cards.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/card/<%= cards[i]._id%>">
                  <img class="img-fluid" src="<%= cards[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/globalFeed">Return to Global Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unsyled">
            <li>Verse of the Day:</li>
            <li></li>
          </ul>
          <button id="fetchBibles" class="btns" type="button" name="getBibles">Bibles</button>
          <form>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>