<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <h1>
            <%= user ? `Hello, ${user.userName}` : 'Hello Guest' %>
          </h1>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <!-- fix image posting to db and cloudinary and rendering with profile component
          userImageUpload is the new path -->
          <img src="<%= user.userImage ? user.userImage : 'Upload Image' %>">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="userImgUpload" class="form-label">Choose Profile Picture</label>
              <input type="file" class="form-control" id="userImageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>


          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>

        <!-- user streak overview -->
        <!-- 53 width and 7 height -->
        <div id="cal-heatmap"></div>
        <script type="text/javascript">
          var cal = new CalHeatMap();
          cal.init({
            data: "datas.json"
          });
        </script>

        <!-- user default bible section 
        should show bible version and give option to change version onclick (overlay) -->
        <div>
          <div>
            <h3 id="userBibleType">
              New International Version (DEFAULT)
            </h3>
          </div>
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <input type="text" name="search" id="search" placeholder="Search for Bible Version" class="search" />
              <button class="search-btn" type="submit">Submit</button>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Bible Version:</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <optgroup label="English">

                    <option value="685d1470fe4d5c3b-01">American Standard Version (Byzantine Text with Apocrypha)
                    </option>
                    <option value="6bab4d6c61b31b80-01">Brenton English Septuagint (Updated Spelling and Formatting)
                    </option>

                  <optgroup label="Ancient Greek">
                  <optgroup label="Arabic, Standard">
                  <optgroup label="Arapaho">
                  <optgroup label="Aruamu">
                  <optgroup label="Assamese">
                  <optgroup label="Belarusan">
                  <optgroup label="Beami">
                  <optgroup label="Belarusian">
                  <optgroup label="Bengali">

                  <optgroup label="German">
                  <optgroup label="Gujarati">
                  <optgroup label="Hausa">
                  <optgroup label="Indonesian">

                  <optgroup label="Polish">
                  <optgroup label="Susu">
                  <optgroup label="Twi">
                  <optgroup label="Vietnamese">
                  <optgroup label="Nend">


                  <optgroup label="Siksika">
                  <optgroup label="Baga Sitemu">
                  <optgroup label="Czech">
                  <optgroup label="Central Kurdish">
                  <optgroup label="German, Standard">
                  <optgroup label="Dawro">
                  <optgroup label="Pular">
                  <optgroup label="Borei">
                  <optgroup label="Kire">
                  <optgroup label="Hindi">
                  <optgroup label="Holiya">
                  <optgroup label="Italian">
                  <optgroup label="Kannada">
                  <optgroup label="Kutu">
                  <optgroup label="Kwere">
                  <optgroup label="Makonde">
                  <optgroup label="Kharam Naga">
                  <optgroup label="Gikuyu">
                  <optgroup label="Kapingamarangi">
                  <optgroup label="Mum">
                  <optgroup label="Kyenele">
                  <optgroup label="Ganda">
                  <optgroup label="Dholuo">
                  <optgroup label="Malayalam">
                  <optgroup label="Marathi">
                  <optgroup label="Maale">
                  <optgroup label="Male (Ethiopia)">
                  <optgroup label="Morokodo">
                  <optgroup label="Makhuwa-Meetto">
                  <optgroup label="Matumbi">
                  <optgroup label="Sankaran Maninka">
                  <optgroup label="Mwera">
                  <optgroup label="Ndamba">
                  <optgroup label="Nguu">
                  <optgroup label="Takuu">
                  <optgroup label="Dutch">
                  <optgroup label="Chichewa">
                  <optgroup label="Odia">
                  <optgroup label="Panjabi">
                  <optgroup label="Portuguese">
                  <optgroup label="Shipogoro">
                  <optgroup label="Carpathian Romani">
                  <optgroup label="Chilughuru">
                  <optgroup label="Shatt">
                  <optgroup label="Akukem">
                  <optgroup label="Sanskrit">
                  <optgroup label="Serbian">
                  <optgroup label="Sop">
                  <optgroup label="Swedish">
                  <optgroup label="Swahili">
                  <optgroup label="Tamil">
                  <optgroup label="Tay">
                  <optgroup label="Telugu">
                  <optgroup label="Thai">
                  <optgroup label="Toma">
                  <optgroup label="Tonga (Tonga Islands)">
                  <optgroup label="Urdu">

                  <optgroup label="Vidunda">
                  <optgroup label="Yalunka">
                  <optgroup label="Yapese">
                  <optgroup label="Yoruba">
                  <optgroup label="Zaramo">
                  <optgroup label="Urdu">
                  <optgroup label="Zigua">






                </select>

              </fieldset>
            </div>
          </form>
        </div>

        <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <fieldset>
                <legend>Book</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Book</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Chapter</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Chapter</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Verse</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Verse</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Deck Name</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Tag</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Create Bible Verse Anki Card</button>
          </form>
        </div>
        <!-- <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/card/createCard" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div> -->
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<cards.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/card/<%= cards[i]._id%>">
                  <img class="img-fluid" src="<%= cards[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/globalFeed">Return to Global Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unsyled">
            <li>Verse of the Day:</li>
            <li></li>
          </ul>
          <button id="fetchBibles" class="btns" type="button" name="getBibles">Bibles</button>
          <form>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>