<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <h1>
            <%= user ? `Hello, ${user.userName}` : 'Hello Guest' %>
          </h1>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <img src="<%= user.userImage ? user.userImage : 'Upload Image' %>">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Choose Profile Picture</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>


          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>

        <!-- user streak overview -->
        <div></div>

        <!-- user default bible section 
        should show bible version and give option to change version onclick (overlay) -->
        <div>
          <div>
            <h3>
              New International Version (DEFAULT)
            </h3>
          </div>
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <input type="text" name="search" id="search" placeholder="Search for Bible Version" class="search" />
              <button class="search-btn" type="submit">Submit</button>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Bible Version:</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">JavaScripts</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
          </form>
        </div>

        <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>


            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
        <!-- <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/card/createCard" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div> -->
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<cards.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/card/<%= cards[i]._id%>">
                  <img class="img-fluid" src="<%= cards[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/globalFeed">Return to Global Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unsyled">
            <li>Verse of the Day:</li>
            <li></li>
          </ul>
          <button id="fetchBibles" class="btns" type="button" name="getBibles">Bibles</button>
          <form>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>