<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <h1>
            <%= user ? `Hello, ${user.userName}` : 'Hello Guest' %>
          </h1>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <!-- fix image posting to db and cloudinary and rendering with profile component
          userImageUpload is the new path -->
          <img src="<%= user.userImage ? user.userImage : 'Upload Image' %>">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="userImgUpload" class="form-label">Choose Profile Picture</label>
              <input type="file" class="form-control" id="userImageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>


          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>

        <!-- user streak overview -->
        <!-- 53 width and 7 height -->
        <div id="cal-heatmap"></div>
        <script type="text/javascript">
          var cal = new CalHeatMap();
          cal.init({
            data: "datas.json"
          });
        </script>

        <!-- user default bible section 
        should show bible version and give option to change version onclick (overlay) -->
        <div>
          <div>
            <h3 id="userBibleType">
              New International Version (DEFAULT)
            </h3>
          </div>
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <input type="text" name="search" id="search" placeholder="Search for Bible Version" class="search" />
              <button class="search-btn" type="submit">Submit</button>
            </div>

            <!-- 
              
              // // //
              // // //
              // // //

              Bible Version 

              // // //
              // // //
              // // //
                  
            
            -->

            <div class="mb-3">
              <fieldset>
                <legend>Bible Version:</legend>

                <select name="category">

                  <optgroup label="English">

                    <option value="685d1470fe4d5c3b-01">American Standard Version (Byzantine Text with Apocrypha)
                    </option>
                    <option value="6bab4d6c61b31b80-01">Brenton English Septuagint (Updated Spelling and Formatting)
                    </option>
                    <option value="65bfdebd704a8324-01">Brenton English translation of the Septuagint</option>
                    <option value="55212e3cf5d04d49-01">Cambridge Paragraph Bible of the KJV</option>
                    <option value="179568874c45066f-01">Douay-Rheims American 1899</option>
                    <option value="55ec700d9e0d77ea-01">English Majority Text Version</option>
                    <option value="65eec8e0b60e656b-01">Free Bible Version</option>
                    <option value="c315fa9f71d4af3a-01">Geneva Bible</option>
                    <option value="bf8f1c7f3f9045a5-01">JPS TaNaKH 1917</option>
                    <option value="de4e12af7f28f599-01">King James (Authorised) Version(1)</option>
                    <option value="de4e12af7f28f599-02">King James (Authorised) Version(2)</option>
                    <option value="01b29f4b342acc35-01">Literal Standard Version</option>
                    <option value="40072c4a5aba4022-01">Revised Version 1885</option>
                    <option value="ec290b5045ff54a5-01">Targum Onkelos Etheridge</option>
                    <option value="2f0fd81d7b85b923-01">The English New Testament According to Family 35</option>
                    <option value="06125adad2d5898a-01">The Holy Bible, American Standard Version</option>
                    <option value="66c22495370cdfc0-01">Translation for Translators</option>
                    <option value="9879dbb7cfe39e4d-01">World English Bible(1)</option>
                    <option value="9879dbb7cfe39e4d-02">World English Bible(2)</option>
                    <option value="9879dbb7cfe39e4d-03">World English Bible(3)</option>
                    <option value="9879dbb7cfe39e4d-04">World English Bible(4)</option>
                    <option value="7142879509583d59-01">World English Bible British Edition(1)</option>
                    <option value="7142879509583d59-02">World English Bible British Edition(2)</option>
                    <option value="7142879509583d59-03">World English Bible British Edition(3)</option>
                    <option value="7142879509583d59-04">World English Bible British Edition(4)</option>
                    <option value="f72b840c855f362c-04">World Messianic Bible</option>
                    <option value="04da588535d2f823-04">World Messianic Bible British Edition</option>


                    <!-- 
                      
                      *********
                      *** A ***
                      ********* 

                  -->

                  <optgroup label="Akukem">

                    <option value=""></option>

                  <optgroup label="Ancient Greek">

                    <option value="901dcd9744e1bf69-01">1904 Patriarchal Greek New Testament with 20 corrections from
                      later editions</option>
                    <option value="c114c33098c4fef1-01">Brenton Greek Septuagint</option>
                    <option value="3aefb10641485092-01">Greek Textus Receptus</option>
                    <option value="5e29945cf530b0f6-01">The Greek New Testament According to Family 35</option>

                  <optgroup label="Arabic, Standard">

                  <optgroup label="Arapaho">

                  <optgroup label="Aruamu">

                    <option value="5e51f89e89947acb-01">Aruamu New Testament</option>
                    <option value="98adf0b796dc9ff4-01">The Bible in Aruamu: Old Testament and New Testament</option>

                  <optgroup label="Assamese">


                    <!-- 
                      
                      *********
                      *** B ***
                      ********* 

                  -->

                  <optgroup label="Baga Sitemu">

                  <optgroup label="Belarusan">

                  <optgroup label="Beami">

                  <optgroup label="Belarusian">

                  <optgroup label="Bengali">

                  <optgroup label="Borei">


                    <!-- 
                      
                      *********
                      *** C ***
                      ********* 

                  -->

                  <optgroup label="Carpathian Romani">

                  <optgroup label="Central Kurdish">

                  <optgroup label="Chichewa">

                  <optgroup label="Chilughuru">

                  <optgroup label="Czech">


                    <!-- 
                      
                      *********
                      *** D ***
                      ********* 

                  -->

                  <optgroup label="Dawro">

                  <optgroup label="Dholuo">

                  <optgroup label="Dutch">


                    <!-- 
                      
                      *********
                      *** E ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** F ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** G ***
                      ********* 

                  -->

                  <optgroup label="Ganda">

                  <optgroup label="German">

                    <option value="f492a38d0e52db0f-01">Elberfelder Translation (Version of bibelkommentare.de)</option>
                    <option value="542b32484b6e38c2-01">The Holy Bible in German, translation by Kautzsch und Weizsäcker
                      1906</option>

                  <optgroup label="German, Standard">

                  <optgroup label="Gikuyu">

                  <optgroup label="Gujarati">

                    <option value="3548ab6114a312d4-02">Gujarati Bible</option>
                    <option value="3548ab6114a312d4-01">Gujarati New Testament</option>


                    <!-- 
                      
                      *********
                      *** H ***
                      ********* 

                  -->

                  <optgroup label="Hausa">

                    <option value="0ab0c764d56a715d-01">Biblica® Open Hausa Contemporary Bible 2020(1)</option>
                    <option value="0ab0c764d56a715d-02">Biblica® Open Hausa Contemporary Bible 2020(2)</option>

                  <optgroup label="Hindi">

                  <optgroup label="Holiya">


                    <!-- 
                      
                      *********
                      *** I ***
                      ********* 

                  -->

                  <optgroup label="Indonesian">

                    <option value="2dd568eeff29fb3c-02">Plain Indonesian Translation</option>
                    <option value="2dd568eeff29fb3c-01">Terjemahan Sederhana Indonesia NT Second Edition</option>

                  <optgroup label="Italian">


                    <!-- 
                      
                      *********
                      *** J ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** K ***
                      ********* 

                  -->

                  <optgroup label="Kapingamarangi">

                  <optgroup label="Kannada">

                  <optgroup label="Kharam Naga">

                  <optgroup label="Kire">

                  <optgroup label="Kutu">

                  <optgroup label="Kwere">

                    <option value="dca01eb41e39d25d-02">Kwere Bible</option>
                    <option value="dca01eb41e39d25d-01">The New Testament in Kwere</option>

                  <optgroup label="Kyenele">


                    <!-- 
                      
                      *********
                      *** L ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** M ***
                      ********* 

                  -->

                  <optgroup label="Maale">

                  <optgroup label="Makhuwa-Meetto">

                  <optgroup label="Makonde">

                  <optgroup label="Malayalam">

                  <optgroup label="Male (Ethiopia)">

                  <optgroup label="Marathi">

                  <optgroup label="Matumbi">

                  <optgroup label="Morokodo">

                  <optgroup label="Mum">

                  <optgroup label="Mwera">


                    <!-- 
                      
                      *********
                      *** N ***
                      ********* 

                  -->

                  <optgroup label="Ndamba">

                  <optgroup label="Nend">

                  <optgroup label="Nguu">


                    <!-- 
                      
                      *********
                      *** O ***
                      ********* 

                  -->

                  <optgroup label="Odia">


                    <!-- 
                      
                      *********
                      *** P ***
                      ********* 

                  -->

                  <optgroup label="Panjabi">

                  <optgroup label="Polish">

                    <option value="fbb8b0e1943b417c-01">Biblica® Open Polish Living New Testament</option>
                    <option value="1c9761e0230da6e0-01">Updated Gdansk Bible</option>

                  <optgroup label="Portuguese">

                  <optgroup label="Pular">


                    <!-- 
                      
                      *********
                      *** Q ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** R ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** S ***
                      ********* 

                    -->

                  <optgroup label="Sankaran Maninka">

                  <optgroup label="Sanskrit">
                    <option value="bb3df4b7c8587c77-01">Sanskrit Bible (NT) in Assamese Script (সত্যৱেদঃ।)</option>
                    <option value="8d1ad2c921d811c3-01">Sanskrit Bible (NT) in Bengali Script</option>
                    <option value="9449d4ad98193779-01">Sanskrit Bible (NT) in Burmese Script (သတျဝေဒး၊)</option>
                    <option value="33b6449cacf22773-01">Sanskrit Bible (NT) in Cologne Script (satyavEdaH|)</option>
                    <option value="e9ea572977b4f504-01">Sanskrit Bible (NT) in Gujarati Script (સત્યવેદઃ।)</option>
                    <option value="89007ccbb2eb5187-01">Sanskrit Bible (NT) in Harvard-Kyoto Script (satyavedaH|)
                    </option>
                    <option value="0b07fcef627a2db2-01">Sanskrit Bible (NT) in IAST Script (satyavedaḥ|)</option>
                    <option value="d4599ff3c6b97f3a-01">Sanskrit Bible (NT) in ISO Script (satyavēdaḥ|)</option>
                    <option value="6bc5ae3d6dd9009a-01">Sanskrit Bible (NT) in ITRANS Script (satyavedaH|)</option>
                    <option value="c1f49ed98a65a544-01">Sanskrit Bible (NT) in Kannada Script (ಸತ್ಯವೇದಃ।)</option>
                    <option value="6bb8b0fa7aca67c6-01">Sanskrit Bible (NT) in Khmer Script (សត្យវេទះ។)</option>
                    <option value="119375d97b57cf04-01">Sanskrit Bible (NT) in Malayalam Script (സത്യവേദഃ।)</option>
                    <option value="5a27fd2a2de187c8-01">Sanskrit Bible (NT) in Oriya Script (ସତ୍ୟୱେଦଃ।)</option>
                    <option value="07225eadadcb079a-01">Sanskrit Bible (NT) in Punjabi Script (ਸਤ੍ਯਵੇਦਃ।)</option>
                    <option value="2c2cf8df5a22a46e-01">Sanskrit Bible (NT) in Sinhala Script (සත්‍යවේදඃ।)</option>
                    <option value="143e0e03cf5b12ae-01">Sanskrit Bible (NT) in Tamil Script (ஸத்யவேத³​:।)</option>
                    <option value="aa146959e1d39b78-01">Sanskrit Bible (NT) in Telugu Script (సత్యవేదః।)</option>
                    <option value="306d6ab1ca333a1e-01">Sanskrit Bible (NT) in Thai Script (สตฺยเวท:ฯ)</option>
                    <option value="018ff00d7f55cbc1-01">Sanskrit Bible (NT) in Tibetan Script (སཏྱཝེདཿ།)</option>
                    <option value="51b16e0b4b7c9825-01">Sanskrit Bible (NT) in Urdu Script (سَتْیَویدَح۔)</option>
                    <option value="9a875168ff4df1a3-01">Sanskrit Bible (NT) in Velthuis Script (satyaveda.h|)</option>
                    <option value="e8b40ccabe793c0d-01">Sanskrit NT in Devanagari</option>

                  <optgroup label="Shatt">

                  <optgroup label="Shipogoro">

                  <optgroup label="Serbian">

                  <optgroup label="Siksika">

                  <optgroup label="Sop">

                  <optgroup label="Spanish">

                    <option value="592420522e16049f-01">Reina Valera 1909</option>
                    <option value="482ddd53705278cc-01">The New Testament in Spanish, Free Bible Version</option>

                  <optgroup label="Susu">

                    <option value="bbeb583cd75c6356-01">Susu Bible</option>
                    <option value="2d5220a02a7aaac6-01">Susu Bible in Arabic Script</option>

                  <optgroup label="Swedish">

                  <optgroup label="Swahili">


                    <!-- 
                      
                      *********
                      *** T ***
                      ********* 

                  -->

                  <optgroup label="Takuu">

                  <optgroup label="Tamil">

                  <optgroup label="Tay">

                  <optgroup label="Telugu">

                  <optgroup label="Thai">

                  <optgroup label="Toma">

                  <optgroup label="Tonga (Tonga Islands)">

                  <optgroup label="Twi">


                    <!-- 
                      
                      *********
                      *** U ***
                      ********* 

                  -->

                  <optgroup label="Urdu">


                    <!-- 
                      
                      *********
                      *** V ***
                      ********* 

                  -->

                  <optgroup label="Vidunda">

                  <optgroup label="Vietnamese">

                    <!-- 
                      
                      *********
                      *** W ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** X ***
                      ********* 

                  -->

                    <!-- 
                      
                      *********
                      *** Y ***
                      ********* 

                  -->

                  <optgroup label="Yalunka">

                  <optgroup label="Yapese">

                  <optgroup label="Yoruba">


                    <!-- 
                      
                      *********
                      *** Z ***
                      ********* 

                  -->

                  <optgroup label="Zaramo">

                  <optgroup label="Zigua">






                </select>

              </fieldset>
            </div>
          </form>
        </div>

        <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <fieldset>
                <legend>Book</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Book</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Chapter</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Chapter</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <fieldset>
                <legend>Verse</legend>

                <select name="category">
                  <!-- need to add every bible version as a dropdown option  -->
                  <option value="js">Verse</option>
                  <option value="php">PHP Scripts</option>
                  <option value="tuts">No Scripts</option>
                </select>

              </fieldset>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Deck Name</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Tag</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Create Bible Verse Anki Card</button>
          </form>
        </div>
        <!-- <div class="mt-5">
          <h2>Create a Bible Verse Anki Card</h2>
          <form action="/card/createCard" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div> -->
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<cards.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/card/<%= cards[i]._id%>">
                  <img class="img-fluid" src="<%= cards[i].image%>">
                </a>
              </li>
              <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/globalFeed">Return to Global Feed</a>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unsyled">
            <li>Verse of the Day:</li>
            <li></li>
          </ul>
          <button id="fetchBibles" class="btns" type="button" name="getBibles">Bibles</button>
          <form>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>